*{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
}
/* ul{
	list-style: none;
	list-style-position: inside;
} */
.none{
	display: none;
}
.block{
  display: block;
}
.pagega{
	background-image: url('../img/body.jpg');
	background-repeat: repeat;
}
header{
	width: 100%;
	height: 20px;
	/* background: lightblue; */
}
main{
   width: 1226px;
   height: auto;
  /*  background: white; */
   margin: 0 auto;
}
.headerright{
	width: 600px;
	height: 20px;
	/* background: red; */
	float: right;
}
.headerright ul{
    width: 600px;
	height: 20px;
	display: flex;
	justify-content: space-around;
}
span{
   color: #000000;
   font-size: 14px;
}

.headerright ul li{
	/* display: block; */
	color: #0084BB;
	font-size: 16px;
}
.headerlogin{
	color: #0084BB;
}
.headerregister{
	color: #0084BB;
}
/* .headerright ul li a{
	color: #000000;
} */
.headermessage{
	width: 100px;
	height: 20px;
	position: relative;
	padding-left: 2px;
	padding-right: 2px;
	color: #000000;
}


.messageword{
	/* width: 14px; */
	height: 20px;
	display: block;

	color:#000000;
}
/* .messageicon{
	font-family: "iconfont";

	display: block;
	width: 10px;
	height: 10px;
	font-size: 8px;
	position: absolute;
	left: 0;
	top: 4px;
	color: #000000;


} */
/* .haedrline1{
	width: 0;
	height: 10px;
	border-left: 1px solid gray;
	position: absolute;
	left: 0;
	top: 5px;
} */
.menutitle{
   color: #000000;
}
.messageshop{
   color: #000000;
}
.contact{
   color: #000000;
}
/* navi */
.navi{
	width: 100%;
	height: 70px;
/* 	background: #eafcfb; */
	/* margin-top: 5px; */

}
.logo{
	width: 70px;
	height:70px;
	background: url('../img/logo1.png') no-repeat center/cover;
	float: left; 
}
.naviright{
	width: calc(100% - 100px);
	height: calc(50px-3px);
/* 	background: pink; */
	float: right;
	margin-top: 20px;
}
.naviright ul{
	/* width: calc(100% - 100px);
	height: 50px; */
	display: flex;
	justify-content: space-around;
}
.naviright ul li{
	border-bottom: 3px solid rgba(255, 255, 255, 0);
	
}
.naviright ul li:first-of-type{
	border-bottom: 3px solid rgba(255, 255, 255, 1);
   /*  color: white; */
    
}
.naviright ul li:hover{
	border-bottom: 3px solid rgba(255, 255, 255, 1);
}
.naviright ul li a{
	height: 47px;
	display: block;
	font-size: 16px;
	font-weight: bold;
	line-height: 47px;
	text-align: center;
	color: black;
	float: left;
}
/* .naviright ul li a:first-of-type{
	color: white;
} */
.naviright ul li:hover a{
    color: white;
}
/* banner */
.banner{
	width: 100%;
	height: 500px;
	/* background: pink; */
}
.bannertotal{
	width: 100%;
	height: 500px;
	/* background: lightblue; */
	position: relative;
}
.bannerpicture{
	width: 100%;
	height: 500px;
	/* background: green; */
	position: absolute;
	left: 0;
	top: 0;
}
.bannerpicture ul{
	width: 100%;
	height: 500px;
	/* list-style: none;
	list-style-position: inside; */
}
.bannerpicture ul li{
	width: 100%;
	height: 500px;
	position: absolute;
	left: 0;
	top: 0;
}
.bannerpicture ul li a{
	width: 100%;
	height: 100%;
	display:block;
}
.bannerpicture ul li a img{
	
	width: 100%;
	height: 100%;
}
.lunbo{
	width: 115px;
	height: 10px;
/* 	background: pink; */
	position: absolute;
	left: 600px;
	bottom: 25px;
	

}
.lunboo{
	width: 115px;
	height: 10px;
}
.lunbo ul li{
	width: 7px;
	height: 7px;
	background:#15171b;
	opacity: 0.6;
	border: 4px solid rgba(138, 138, 138, 0.5);
	border-radius: 50%;
	margin-right: 10px;
	cursor: pointer;
	float: left;
}
.lunbo ul li:last-of-type{
    margin-right: 0;
}
.lunbo ul li:hover{
	background: white;
	opacity: 0.6;
	border-color:rgba(138, 138, 138, 0.7) ;
}
.lunbo .moren{
	background: white;
	opacity: 0.6;
}