/*
* @Author: Fujiang
* @Date:   2017-08-28 10:05:24
* @Last Modified by:   Fujiang
* @Last Modified time: 2017-08-28 14:39:49
*/
*{
   padding: 0;
   margin: 0;
   list-style: none;
   text-decoration: none;
}
.none{
	display: none;
}
.block{
	display: block;
}
main{
	width: 
}